<!DOCTYPE html>

<html>
	<head>
		<title>Space Bowling</title>
		<meta charset="utf-8">
		<link href="/game/game.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script type="text/javascript" src="/game/game.js"></script>
	</head>
	
	<body>

    <div id="content"> 

      <div id="levelColumn">

        <div id="gameInfo">
          Score: <span id="score">0</span>
        </div>
        
        <div class="levelBox">

          <div id="level">Level 1</div>

          <div class="options">
            <div id="practice1">Practice</div>
            <div id="test1">Test</div>
          </div>

        </div>

      </div>

			<canvas id="gameCanvas" dir="rtl" width="740" height="500">
				<!-- Insert fallback content here -->
			</canvas>

      <button id="startButton">Start</button>
      <button id="stopButton">Pause</button>
		</div>
	</body>
</html>
