<!DOCTYPE html>

<html>
	<head>
		<title>Space Bowling</title>
		<meta charset="utf-8">
		<link href="/game/game.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script type="text/javascript" src="/game/game.js"></script>
	</head>
	
	<body>

    <div id="content"> 

      <div id="levelColumn">

        <button id="stopAnimation">Stop Animation</button>
        <div id="gameInfo">
          Score: <span id="score">0</span>
        </div>
        
        <div class="info">

          <div id="level">Level 1</div>

          <div class="options">
            <div id="practice1">Practice</div>
            <div id="test1">Test</div>
          </div>

          <button id="startButton">Start</button>
          <button id="stopButton">Pause</button>

        </div>

      </div>

			<canvas id="gameCanvas" dir="rtl" width="900" height="400">
				<!-- Insert fallback content here -->
			</canvas>

      <div id="levelRow">
        <% 1.upto(15) do |n| %> 
          <div class="levelBox">
            <%= n %> 
          </div>
        <% end %>
      </div>

		</div>
	</body>
</html>
