<%= provide :title, "StudyArabic.com" %>

<%= image_tag(Article.find(7).images.first.photo.url(:orginal)) %>



<!--
<div style="height: 220px; width: 275px; background-color: blue;"></div>
<br />
<div style="height: 140px; width: 175px; background-color: blue;"></div>
<br />
<div style="height: 80px; width: 100px; background-color: blue;"></div>
<br />
-->
