<%= provide :title, "Sign In or Register" %>

<%= render partial: "shared/reg_or_sign_in" %>

<div class="subtitle_large">

  هل أنت مدرس اللغة العربية؟

<br /><br />
    <%= button_to("سجل كمدرس", new_teacher_profile_path, class: "btn_custom", method: :get) %>
</div>
