<div class="row">
    <div class="span4">
      <div class="custom_well">
        <div style="text-align: center;" class="subtitle_large"><%= link_to("Register As a Student", new_student_profile_path) %></div>
      </div>
    </div>
    <div class="span4 offset1">
      <div class="custom_well">
        <div style="text-align: center;" class="subtitle_large"><%= link_to("Register As a Teacher", new_teacher_profile_path) %></div>
      </div>
    </div>
</div>
