<%= provide :title, "Your Inbox" %>

<table class="table">
  <tr>
    <th></th>
    <th>Sender</th>
    <th>Subject</th>
    <th>Date/Time</th>
  </tr>
<% @received_messages.each do |rm| %>
  <tr>
    <td><input type="checkbox"></td>
    <td><%= rm.sender.first_name %></td>
    <td><%= rm.subject %></td>
    <td><%= rm.created_at.strftime("%m/%d/%Y %I:%M%p") %></td>
  </tr>
<% end %>
</table>
