<%= provide :title, "Arabic Teacher Directory" %>
<div class="row">
  <div class="span3">
    <p class="subtitle_large">Ratings</p>
    <label class="checkbox">
      <input type="checkbox" checked class="ratings_option options" id="order_by_average_rating">
      Highest Rated
    </label>
    <label class="checkbox">
      <input type="checkbox" class="ratings_option options" id="order_by_reviews">
      Most Reviews 
    </label>
  </div>

  <div class="span3">
    <p class="subtitle_large">Instruction Type</p>
    <label class="checkbox1">
      <input type="checkbox" checked class="instruction_option options" id="in_person">
      In Person
    </label>
    <label class="checkbox">
      <input type="checkbox" checked class="instruction_option options" id="online">
      Online
    </label>
  </div>

  <div class="span3">
    <p class="subtitle_large">Price Per Hour</p>
    <label class="checkbox1">
      <input type="checkbox" checked class="price_option options" id="twenty" data-price="20">
      $20 or less
    </label>
    <label class="checkbox">
      <input type="checkbox" checked class="price_option options" id="fifteen" data-price="15">
      $15 or less
    </label>
    <label class="checkbox">
      <input type="checkbox" checked class="price_option options" id="ten" data-price="10">
      $10 or less
    </label>
    <label class="checkbox">
      <input type="checkbox" checked class="price_option options" id="five" data-price="5">
      $5 or less
    </label>
  </div>
</div>


<br />

<div id="profiles_list">
  <div id="profiles_div">
    <%= render partial: "profiles_list", locals: { teacher_profiles: @teacher_profiles} %>
  </div>
</div>

<% content_for(:side_bar) do %>
  <%= render partial: "shared/country_filter", locals: { li_class: "options" } %>
<% end %>














