<%= provide :title, "Arabic Teacher Directory" %>

<div class="row">
  <div class="span3">
    <p class="subtitle_large">Ratings</p>
    
     <label class="checkbox">
       <input type="checkbox" class="ratings_option" id="highest_rated">
       Highest Rated
     </label>
     <label class="checkbox">
       <input type="checkbox" class="ratings_option" id="most_reviews">
       Most Reviews 
     </label>
  </div>
  <div class="span3">
    <span class="subtitle_large">Instruction Type</span>
  </div>
  <div class="span3">
    <span class="subtitle_large">Price</span>
  </div>
</div>
<br />

<div id="profiles_list">
  <div id="profiles_div">
    <%= render partial: "profiles_list", locals: { teacher_profiles: @teacher_profiles } %>
  </div>
</div>
