    <div style="color: #007974; font-size: 18px; font-weight: bold;" class="subtitle_large_color">
      Another answer has been added to "<%= @forum_post.title %>"  
    </div>
    <hr>

    We thought you would like to know since you also answered this question.<br />
    <b><%= link_to "View the Answer", forum_post_url(@forum_post) %></b>
    <br /><br />

    Thanks!<br /><br />

    -The StudyArabic.com team

