    <div style="color: #007974; font-size: 18px; font-weight: bold;" class="subtitle_large_color">Your Question Has Been Answered</div>
    <hr>

    Your question, "<%= @forum_post.title %>" has been answered!<br />
    <b><%= link_to "View Your Answer", forum_post_url(@forum_post) %></b>
    <br /><br />

    Thanks!<br /><br />

    -The StudyArabic.com team

