    <div style="color: #007974; font-size: 18px; font-weight: bold;" class="subtitle_large_color">Message Alert</div>
    <hr>

    You have received a message from user, <%= link_to(@sender.username, user_url(@sender)) %>!<br />
    <b><%= link_to("View Your Message", message_url(@message)) %></b>
    <br /><br />

    Thanks!<br /><br />

    -The StudyArabic.com team

