* { margin: 0; padding: 0; }
html, body { height: 100%; width: 100%; }
canvas { display: block; }

body {
	font-family: serif, Verdana, Arial, sans-serif;
	font-size: 18px;	
}

#content
{
  margin-top: 100px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px;
}

#gameCanvas
{
  background-color: white;
}

#levelColumn
{
  background-color: silver;
  font-family: sans-serif;
}

#gameInfo
{
  font-size: 30px;
}


