* { margin: 0; padding: 0; }
html, body { height: 100%; width: 100%; }
canvas { display: block; }

body {
	font-family: serif, Verdana, Arial, sans-serif;
	font-size: 18px;	
}

#content
{
  margin-top: 100px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px;
}

#gameCanvas
{
  background-color: white;
  //width: 740px;
}

#levelColumn
{
  float: left;
  width: 150px;
  background-color: silver;
  height: 300px;
}



