<div class="margin_bottom_medium">
    <div class="subtitle_large"><%= pluralize items.size, item_name %></div>
    <% if items.size > 0 %>
      <div class="custom_well">
        <ul>
	  <% if polymorph %>
	    <%= render partial: "user_activity_items_polymorph", locals: { items: items, content_to_show: content_to_show, link: link } %>
   	  <% else %>
	    <%= render partial: "user_activity_items", locals: { items: items, content_to_show: content_to_show, link: link } %>
	  <% end %>
	</ul>
      </div>
    <% end %>
</div>