<span class="green_badge_connected"><%= action %><%= link_to(user.username, :controller => "users", :action => "show", :id => user.id) %></span><span class="light_badge_connected margin_right_small"><%= "#{user.reputation} points" %></span>




