    <span class="subtitle_large"><%= pluralize items.size, item_name %></span>
    <% if items.size > 0 %>
      <div class="custom_well">
        <ul>
          <% items.each do |item| %>
            <li><%= link_to truncate(strip_tags(item.send(content_to_show)), length: 100, ommission: "..."), (link == nil ? item : item.send(link)) %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

