<%= provide :title, "Arabic Centers and Programs" %>

<ul class="nav nav-pills">
  <li class="active">
    <a href="#">Highest Rated</a>
  </li>
  <li><a href="#">Most Reviews</a></li>
</ul>

<% @centers.each do |center| %>
  <%= render partial: "shared/index_with_image", 
             locals: { image: center.images.first.try(:photo).try(:url, :thumb), 
                       name: center.name, 
                       item: center,
                       description: center.description,
                       item_with_reviews: center} %>


<% end %>

<% content_for(:side_bar) do %>
  <%= render partial: "shared/country_filter" %>
<% end %>
