<span class="subtitle">Posted on <%= @forum_post.created_at.strftime("%b %d, %Y") %> by Shazeb Qadir</span><br />

<%= link_to "Edit", edit_forum_post_path(@forum_post), id: "edit_post", class: "subtitle" %>
<span class="subtitle"> | </span>
<%= link_to "Delete", forum_post_path(@forum_post), data: {confirm: "Are you sure?"}, method: :delete, id: "delete_post", class: "subtitle" %>