<% if user_signed_in? %>
  <% if current_user.id == item.user.id %>
    <%= link_to "Edit", send("edit_#{item.class.to_s.underscore}_path", item), id: "edit", class: "info" %>
    <span class="subtitle"> | </span>
    <%= link_to "Delete", send("#{item.class.to_s.underscore}_path", item), data: {confirm: "Are you sure?"}, method: :delete, id: "delete", class: "info" %>
  <% end %>
<% end %>

