<span class="dropdown">
  <a class="dropdown-toggle bold" data-toggle="dropdown" href="#">Register <i class="icon-caret-down"></i></a>
                              
  <ul class="dropdown-menu align_left subtitle_small" role="menu" aria-labelledby="dLabel">
    <li><%= link_to("As a Student", new_student_profile_path) %></li> 
    <li><%= link_to("As a Teacher", new_teacher_profile_path) %></li> 
  </ul>
</span>
