<div class="custom_alert">
  <div class="margin_bottom_medium">
    <a class="btn no_underline sign_in_button" href="<%= user_omniauth_authorize_path(:facebook) %>">
      <i class="icon-facebook-sign icon-large"></i> Sign In With Facebook
    </a>
  </div>

  <div class="margin_bottom_medium">
      <a class="btn no_underline sign_in_button" href="<%= user_omniauth_authorize_path(:google_oauth2) %>">
        <i class="icon-google-plus-sign icon-large"></i> Sign In With Google
      </a>
  </div>

  <div class="margin_bottom_medium">
      <a class="btn no_underline sign_in_button" href="<%= new_user_session_path %>">
        <i class="icon-envelope-alt icon-large"></i> Sign In With Your Email
      </a>
  </div>

  <div class="bold">Or <%= link_to("register", new_student_profile_path) %> for the first time</div>

</div>


