<div class="row">
  <div class="span6">
    <%= render partial: "shared/search_box", locals: { item_type: item_type } %>
  </div>
  <div class="span3 align_right">
    <%= button_to(new_button_text, {controller: params[:controller], action: "new" }, method: "get", class: "btn_custom middle") %>
  </div>
</div>


