<div class="row">
  <div class="span3">
    <p style="padding-left: 10px" class="bold"><i class="icon-chevron-right"></i> <%= key %></p> 
  </div>
  <div class="span6">
    <p><%= value %></p>
  </div>
</div>
