<div class="row margin_bottom_small">
  <div class="span3">
    <span style="padding-left: 10px" class="bold"><i class="icon-chevron-right"></i> <%= key %></span> 
  </div>
  <div class="span3">
    <span><%= value %></span>
  </div>
</div>
