<div class="subtitle_large_color">
  <%= item.title %><%= render partial: "shared/vote_count", locals: { item: item } %>
</div>
<br />
<div class="post_content bottom_border_div">
  <%= render partial: "shared/delete_edit_links", locals: { item: item } %>
</div>

