<div class="vote_arrow_div">
   <div class="arrows">
      <i class="icon-caret-up vote" id="up_vote" data-voteable_type="ForumPost" data-type="up" data-post_id=<%= item.id %>></i>
      <i class="icon-caret-down vote" id="down_vote" data-voteable_type="ForumPost" data-type="down" data-post_id=<%= item.id %>></i>
   </div>
</div>



















