<% if item.respond_to?(:title) %>
  <div class="site_title margin_bottom_medium">
    <%= item.title %>
  </div>
<% end %>
<div>
  <%= render partial: "shared/vote_count", locals: { item: item, vote_span_class: vote_span_class } %>
  <%= render partial: "users/user_line", locals: { user: item.user, action: action } %>  
  <%= render partial: "shared/date_line", locals: { item: item } %>
</div>

