<% provide :title, @resource.title %>

<h3><%= @resource.title %></h3>

<div class="row">
  <div class="span3">
    <%= image_tag @resource.resource_file.url(:thumb) %>
    <%= link_to "Download Resource", @resource.resource_file.url %>
  </div>

  <div class="span6">
    <p><%= @resource.description %></p>
  </div>

</div>

<% content_for(:side_bar) do %>
    <ul>
      <li>Category</li>
      <li>Posted by</li>
      <li>Views</li>
      <li>Votes</li>
      <li>Downloads</li>
    </ul>
<% end %>






