    <div style="color: #007974; font-size: 18px; font-weight: bold;" class="subtitle_large_color">New Message</div>
    <hr>

    Email: <%= @message.email %>
    <br /><br />
    Subject: <%= @message.subject %>
    <br /><br />
    Body: <%= @message.message %> 
    <br /><br />


