$(document).ready(function() {
    $('span').tooltip(); 

    var canvas = $("#gameCanvas");
    var context = canvas.get(0).getContext("2d");
    context.font = "bold 30px 'courier new'"
    //context.textAlign = 'center';
  

    // Canvas dimensions
    var canvasWidth = canvas.width();
    var canvasHeight = canvas.height();
    var paused = true;
    
    // create a game object which keeps track of sentences, sentenceNumber, correctCount, etc
    var Game = function() {

        this.pauseGame = function()
        {
            paused = true;
            $(window).unbind("keypress");           
        }
        
        this.getSentences = function(level) {
            // lines is an array of sentences
            var result = false;
            var textFile = "/game/sentences" + level + ".html";
            $.ajax({
                url: textFile, 
                success: function(text) { result = text; },
                async: false
            });
            var sentences = result.split("\n");
            // subtract 1 because it seems include an empty string
            this.totalSentences = sentences.length - 1; 
            this.remainingSentences = this.totalSentences;
            return sentences;
        }

        this.sentenceNumber = 0;
        this.currentLevel = 1;
        this.sentences = this.getSentences(1);
        this.correctSentences = 0;
        this.points = 0;
        this.totalSentences;
        this.remainingSentences;

        this.getAllLevels = function() {
            var levelList = [];
            for (var j = 1; j <= 3; j++)
            {
                levelList.push(j);
            }
            return levelList;
        }

        this.allLevels = this.getAllLevels();
        // no level have been completed upon starting the game
        this.completedLevels = [];

        // add points and update remaining sentences
        this.addPoints = function() {
            this.correctSentences += 1;
            this.points += 5 
            this.remainingSentences -= 1;
            gameElements.gameDisplay.updateScore(this.points);
            gameElements.gameDisplay.updateRemainingSentences();
        }
        
        this.getUserLetter = function(e) {
            var charCode = e.which; // charCode will contain the code of the character inputted
            var letter = String.fromCharCode(charCode); // theChar will contain the actual character
            return letter;
        }

        this.clearCanvas = function() {
          context.clearRect(0, 0, canvasWidth, 210);
        }

        this.showNextSentence = function(newLevel) {
            
            if (newLevel === true) { this.sentenceNumber = 0; }
            else 
            {
                this.sentenceNumber += 1; 
            }
            
            if (this.checkIfLastSentence() === true)
            {
                this.handleLastSentence();
            }
            else
            {
                gameElements.sentence = new Sentence(gameElements.game.sentences[gameElements.game.sentenceNumber]);
                this.clearCanvas();
                gameElements.cover.restartCover();
                gameElements.sentence.redraw();
            }
        }

        this.checkIfLastSentence = function() {
            console.log("checking is it's the last sentence");
            if (this.sentenceNumber > this.totalSentences - 1) { return true; }
            else { return false; }
        }

        this.handleLastSentence = function() {
            // if the user got everything correct, then move to the next incomplete level (if there are any more)
            if (this.totalSentences === this.correctSentences)
            {
                var nextLevel = this.getNextLevel();
                if (nextLevel === 0)
                {
                    // initialize everything back to normal
                    gameElements.gameDisplay.gameCompletionAlert(); 
                }
                else
                {
                    this.markLevelAsCompleted(this.currentLevel);
                    gameElements.gameDisplay.levelCompletionAlert(this.currentLevel);
                    this.newLevel(nextLevel)
                }
            }
            else
            {
                // repeat the same level
                gameElements.gameDisplay.levelRestartAlert(this.currentLevel);
                this.newLevel(this.currentLevel);
            }
        }

        this.markLevelAsCompleted = function() {
            this.completedLevels.push(this.currentLevel);
            gameElements.gameDisplay.colorCompletedLevelBox();
        }

        this.newLevel = function(level) {
            this.currentLevel = level;
            gameElements.gameDisplay.updateLevel();
            this.correctSentences = 0;
            this.sentences = this.getSentences(level);
            gameElements.gameDisplay.updateRemainingSentences();
            this.showNextSentence(true);
        }

        this.getNextLevel = function() {
            if (this.allLevels.length == (this.completedLevels.length + 1))
            {
                return 0;
            }
            else
            {
                var incompleteLevels = this.allLevels.slice();
                for (var i = 0; i < this.completedLevels.length; i++)
                {
                    var level = this.completedLevels[i];
                    var indexToRemove = this.allLevels.indexOf(level);
                    incompleteLevels.splice(indexToRemove, 1);
                }
                // go to the next possible level
                var currentIndex = incompleteLevels.indexOf(this.currentLevel)
                console.log("CURRENT INDEX: " + currentIndex);
                var nextLevel = incompleteLevels[currentIndex + 1]
                // if there is no larger level, loop back to the beginning of the array
                if (nextLevel === undefined)
                {
                    nextLevel = incompleteLevels[0];
                }
                return nextLevel;
            }
        }
    }

    var GameDisplay = function() {
        this.alertDiv = $("#game-start");
        this.alertDelay = 1000;
        var _this = this;
        this.updateScore = function(points) {
            // update the UI to display the new score
            $("#score").html(points);
        }

        this.updateRemainingSentences = function() {
            $("#lines-remaining").html(gameElements.game.remainingSentences);    
        }

        this.updateLevel = function() {
            // make all other level boxes inactive
            $(".levelBox").removeClass("currentLevel");
            // make the new level box active
            $("#levelBox_" + gameElements.game.currentLevel).addClass("currentLevel");
        }


        this.colorCompletedLevelBox = function() {
            $("#levelBox_" + gameElements.game.currentLevel).addClass("completedLevel");
        }

        this.initializeCurrentLevel = function() {
            $("#levelBox_1").addClass("currentLevel"); 
        }

        this.initializeRemainingSentences = function() {
            $("#lines-remaining").html(gameElements.game.remainingSentences);
        }

        this.levelCompletionAlert = function(level) {
            var message = "Good job! You completed level " + level;
            this.alertDiv.html(message); 
            this.alertDiv.css("z-index", 1);
            gameElements.game.pauseGame();    
            setTimeout(this.moveAlertBack, this.alertDelay);
        }

        // where user reaches the end of a level but didn't get all the sentences correct
        this.levelRestartAlert = function() {
            var message = "Good try but you didn't pass the level. Try again!";
            this.alertDiv.html(message);
            this.alertDiv.css("z-index", 1);
            gameElements.game.pauseGame();    
            setTimeout(this.moveAlertBack, this.alertDelay);
        }

        this.gameCompletionAlert = function() {
                 
        }

        this.moveAlertBack = function() {
            $("#game-start").css("z-index", -1);
            paused = false;
            runGame();
        }

        this.initializeCurrentLevel();
    }

    var Cover = function() {
        this.x = 0;
        this.initialY = canvasHeight;
        this.y = this.initialY; 
        this.boundary = 210;
        this.levelToSpeed = {"Beginner": 0.5, "Intermediate": 1, "Advanced": 2}  
        this.speed = this.levelToSpeed["Beginner"];

        this.setState = function() {
            context.fillStyle = "rgba(0, 195, 209, 1)"; 
        }

        this.update = function() {
            this.setState();
            context.clearRect(0, this.boundary, canvasWidth, canvasHeight);
            context.fillRect(this.x, this.y, 940, 500);
            this.y = this.y - this.speed;
            if (this.y < (gameElements.sentence.y - 10)) 
            {
                gameElements.game.showNextSentence();
                this.restartCover();
            }
        }

        this.restartCover = function() {
            this.y = this.initialY; 
        }

        this.changeSpeed = function(difficultyLevel) {
            this.speed = this.levelToSpeed[difficultyLevel]
        }
    }

    var Sentence = function(sentenceString) {
        this.sentenceString = sentenceString; 
        this.correctCount = 0;
        this.y = 200;
        this.x = canvasWidth - 10;

        this.getLetters = function() {
            var letters = sentenceString.split("");
            return letters;
        }

        this.letters = this.getLetters();

        this.setState = function() {
            context.fillStyle = "rgba(45, 39, 97, 1)"; 
        }

        this.redraw = function() {
            this.setState();
            context.fillText (sentenceString, this.x, this.y);
        }

        this.getCurrentSnippet = function() {
            return this.letters.slice(0, this.correctCount).join("");
        }
    }

    var Highlighter = function() {
        this.width = 0;

        this.setState = function() {
            context.fillStyle = "rgba(255, 204, 0, 0.5)"; 
        }

        this.highlight = function(currentSnippet) {
            this.width = -(context.measureText(currentSnippet).width);
            this.setState();
            context.fillRect(gameElements.sentence.x, 175, this.width, 30);
        }
    }

    var InputHandler = function() {
        this.handleCorrectInput = function() {
            gameElements.game.clearCanvas();
            gameElements.sentence.redraw();
            gameElements.sentence.correctCount += 1;
            currentSnippet = gameElements.sentence.getCurrentSnippet();
            gameElements.highlighter.highlight(currentSnippet);
            // user completes a sentence
        }

        // check if user has completed the sentence such that a new sentence is necessary
        this.checkForNextSentence = function() {
            if (gameElements.sentence.correctCount === gameElements.sentence.letters.length)
            {
                gameElements.game.addPoints();
                gameElements.game.showNextSentence(); 
            }  
            return gameElements.sentence;
        }

        this.handleIncorrectInput = function() {
          console.log("wrong letter");
        }


        $(".levelBox").click(function() {
            var level = parseInt(this.id.split("_")[1]);
            gameElements.game.newLevel(level); 
            gameElements.gameDisplay.updateLevel(level);
        });

        $("#difficulty-option a").click(function(e) {
            e.preventDefault(); 
            var newOptionElement = $(this);
            var newOption = this.id;  

            // grab selected-option, change it's id and html to newOption
            var currentOptionElement = $(".current-option")
            var currentOption = currentOptionElement.attr("id");

            currentOptionElement.html(newOption + '<span class="caret"></span>');
            currentOptionElement.attr("id", newOption);

            newOptionElement.attr("id", currentOption);
            newOptionElement.html(currentOption);

            // change speed of cover
            gameElements.cover.changeSpeed(newOption);
        }); 

    }

    Elements = function() {
        this.game = new Game();
        this.sentence = new Sentence(this.game.sentences[this.game.sentenceNumber]);
        this.inputHandler = new InputHandler();
        this.highlighter = new Highlighter();
        this.cover = new Cover();
        this.gameDisplay = new GameDisplay();
    }
    // global object which contains all of the game elements
    gameElements = new Elements();
    
    function runGame() {
        gameElements.sentence.redraw();

        function moveCover() {
            gameElements.cover.update(); 
            if (paused !== true) { setTimeout(moveCover, 33); }
        };

        moveCover();
        gameElements.gameDisplay.initializeRemainingSentences();

        if (!paused)
        {
            $(window).keypress(function(e) {
                var letter = gameElements.game.getUserLetter(e);
                // prevent scrolling when space bar is hit
                if (letter === " ")
                    e.preventDefault();
                if (letter === gameElements.sentence.letters[gameElements.sentence.correctCount])
                {
                    gameElements.inputHandler.handleCorrectInput();
                    gameElements.inputHandler.checkForNextSentence();
                }
                // if the wrong letter in input
                else
                {
                    gameElements.inputHandler.handleIncorrectInput(); 
                }
            });
        }
    }

    function init(){
        setUpUi();
        runGame();
    }

    function setUpUi(){
        var startButton = $("#startButton");
        var stopButton = $("#stopButton");
        var delay = 200 

        startButton.hide();
        stopButton.hide();

        $("#start-numbers-container div").hide();
        //$( "#start-3" ).fadeIn(delay).delay("slow").fadeOut(delay, function() {
            //$( "#start-2" ).fadeIn(delay).delay("slow").fadeOut(delay, function() {
              $( "#start-1" ).fadeIn(delay).delay(500).fadeOut(delay, function() {
                    $( "#start-go" ).fadeIn(delay).delay(500).fadeOut(delay, function() {
                        // set paused to false
                        $("#game-start").css("z-index", -1);
                        paused = false;
                        stopButton.show();
                        runGame();
                    });
                });
            //});
        //});
       
       startButton.click(function(){
         $(this).hide();
         stopButton.show();
         paused = false;
         runGame();
       });

       stopButton.click(function(){
         $(this).hide();
         startButton.show();
         paused = true;
         // unbind the keydown listener
         $(window).unbind("keypress");
       });
    }

    init();

});

