<ul class="nav nav-pills custom">
  <% @scopes.each do |scope| %>
      <li class="<%= @current_scope == scope ? 'active' : 'not_active' %>">
      <% if @category %>
        <%= link_to(scope_name_to_link_text(scope), category_forum_posts_path(@category, order_by: scope)) %>
      <% else %>
        <%= link_to(scope_name_to_link_text(scope), forum_posts_path(order_by: scope)) %>
      <% end %>
      </li>
  <% end %>
</ul>