<% provide :title, "Arabic Forums" %>

  <div class="row">
    <% @forum_posts.each do |forum_post| %>
    <div class="span6 post_row">
      <%= forum_post.title %>
      <div>
        <span class="label">study abroad</span>
        <span class="label">grammar</span>
      </div>
    </div>
    <div class="span3 post_row">
      <div class="row">
        <div class="avv_div">
          10<br />
          <span class="info">Views</span>
        </div>
        <div class="avv_div">
          <%= forum_post.votes.count %><br />
          <span class="info">Votes</span>
        </div>
        <div class="avv_div">
          <%=  forum_post.answers.count %><br />
          <span class="info">Answers</span>
        </div>
      </div>
    </div>
    <% end %>
  </div>

