// load bootstrap here
@import "bootstrap";

.span3
{
  margin-left: 0px;
  padding-left: 19px;
  border-left: 1px solid #eee;
}

textarea, input[type=text], select
{
  width: 90%;
}

textarea
{
  height: 300px;
}

.subtitles
{
  font-size: 80%;
  color: #999999;
}

h3
{
  margin: 0;
}

.post_content
{
  margin-top: -10px
}

.vote_icon
{
  margin-top: -3px;
}

