// load bootstrap here
@import "bootstrap";

@import 'font-awesome';

.sidebar
{
  margin-left: 0px;
  padding-left: 19px;
  border-left: 1px solid #eee;
}


textarea, input[type=text], select
{
  width: 90%;
}

textarea
{
  height: 300px;
}

.subtitle
{
  font-size: 80%;
  color: #999999;
}

.number
{
  font-size: 20px;
}

h3
{
  margin-top: 0px;
}

.post_content
{
  margin-top: -20px
}

.post
{
  margin-top: 10px;
}

.large
{
  font-size: 40px;
}

.vote_arrow_div
{
  //@extend .span1;
  width: 20px;
  margin-right: -10px;
  float: left;
}

.no_left_margin
{
  margin-left: 0;
}

// vote badge

.vote_count
{
  @extend .badge;
  font-size: 18px;
  line-height: 40px;
  margin-left: 10px;
  background-color: #5897fb;
  vertical-align: top;
}

.vote_count_small
{
  @extend .vote_count;
  font-size: 10px;
  line-height: 0;
  vertical-align: middle;
}