// error colors
$error_text: #961F1F;
$error_background: #E8CFCF; 


.field_with_errors
{
  display: inline;
}

.field_with_errors > label
{
  color: $error_text;
}

.field_with_errors > input, .field_with_errors > select, .field_with_errors > textarea
{
  border: 3px solid $error_text !important;
}
