.avv_div
{
  width: 50px;
  float: left;
  text-align: center;
}

.post_row
{
  margin-bottom: 10px;
}

hr
{
  margin-top: 15px;
  margin-bottom: 0px;
}

// pills for filtering index

.custom .active a,
.custom .active a:hover
{
  background-color: #6A0AB7;
}

.custom .not_active a:hover
{
  background-color: #DAADFF;
  color: white;
}

.parent_links a
{
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  background-color: #e8e8e8;
}
