$main_color: #007974;
$dark: #004E4B;
$light: #BFDDDC;
$contrast: #C65800;
$light_contrast: #EDCAAF;
$light_gray: #F5F5F5;
$dark_gray: #909090;

.avv_div
{
  width: 52px;
  float: right;
  text-align: center;
  background-color: $light;
  margin-left: 8px;
  border-radius: 5px;
  padding: 3px;
  padding-top: 5px;
  margin-bottom: 5px;
}

.post_row
{
  margin-bottom: 10px;
}

hr
{
  margin-top: 15px;
  margin-bottom: 0px;
}

// pills for filtering index

.custom .active a,
.custom .active a:hover
{
  background-color: $contrast; 
}

.custom .not_active a:hover 
{
  background-color: $light_contrast;
  color: white;
}

// pills for filtering by category

.parent_links a
{
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  background-color: #e8e8e8;
}
