$main_color: #007974;
$light: #BFDDDC;

select.select_box
{
  width: 130px;
  font-size: 10px !important;
  text-align: left !important;
  height: 24px;
}

.search_box_home
{
    clear: both;
    input, select, option 
    {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;  
    }

    button > i
    {
      vertical-align: text-top; 
    }
}


.search_input
{
  height: 24px !important;
}

input[type="text"].search_input
{
    font-size:11px;
}


button.search_input
{
  line-height: 10px;
}

.caret_modified
{
  //vertical-align: text-top;
}

#search_button
{
  height: 24px !important;
}


.search_box_home
{
  //border: solid 1px $main_color;
  //border-radius: 5px;
  //height: 24px;
}

.no_border
{
  border: 0;
}

.user_links
{
  background-color: $light;
  border: 5px;
  height: 25px;
  padding-left: 15px;
  padding-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.no_margin_left
{
  margin-left: -25px;
}

.signin_container
{
  margin-bottom: 5px;
}

#right_header
{
  height: 40px;
}

.small_thumb
{
  width: 100px;
  height: 100px;
}


