$main_color: #007974;
$light: #BFDDDC;

select.select_box
{
  width: 130px;
  font-size: 10px !important;
  text-align: left !important;
  height: 24px;
}

.search_box_home
{
    //clear: both;
    margin-top: 10px;
    input, select, option 
    {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;  
    }

    button > i
    {
      vertical-align: text-top; 
    }
    
}


.search_input
{
  height: 24px !important;
}

input[type="text"].search_input
{
    font-size:11px;
}


button.search_input
{
  line-height: 10px;
}

.caret_modified
{
  //vertical-align: text-top;
}

#search_button
{
  height: 24px !important;
}


.no_border
{
  border: 0;
}

.user_links
{
  background-color: $light;
  border: 5px;
  height: 25px;
  padding-left: 15px;
  padding-top: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.no_margin_left
{
  margin-left: -25px;
}

.absolute_position
{
  position: absolute !important;
}

.signin_container
{
  //margin-bottom: 5px;
  margin-top: -10px;
  //border-radius: 20px;
}

#signin_inline
{
  // actually make this white and change text color to black or whatever
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  a:link {color:$main_color;}      /* unvisited link */
  a:visited {color:$main_color;}  /* visited link */
  display:inline-block; 
  margin-top: -15px;
}

.signedin_height
{
  height: 70px;
}

.not_signedin_height
{
  height: 55px;
}

.low_vert
{
  //vertical-align: -15px;
}

.low_vert1
{
  //vertical-align: -8px;
}

.wider
{
  width: 250px;
}


#right_header
{
  height: 40px;
}

.small_thumb
{
  width: 100px;
  height: 100px;
}

.centered
{
  margin-left:auto;
  margin-right:auto;
}


