.preview_div
{
  //background-color: #e8e8e8;
}

.download_link
{
  font-size: 20px;
}

.centered
{
  text-align: center;
}

#resource_thumbnail
{
  border: #aaaaaa solid thin;
}

.padded_cell
{
  padding-right: 10px;
}

.rating_container
{
  padding-right: 10px;
}

.rating_font
{
  color: #daa520;
  font-size: 15px;
}