$contrast: #C65800;
$dark_gray: #909090;

.rating_container
{
  padding-right: 10px;
}

.star-rating {
    > span {
        display: inline-block;
        font-style: italic;
        color: #bbb;
        font-size: 12px;
        position: relative;
        top: -3px;
    }

    > i {
        font-size: 15px;
        display: inline-block;
        position: relative;
        font-family: FontAwesome;
        font-style: normal;
        &:before { 
            color: $dark_gray;
            content: "\f006\f006\f006\f006\f006";
        }
        &:after { 
            color: $contrast; 
            position:absolute; 
            left:0; 
        }
        &.rating-10:after { content: "\f005"; }
        &.rating-15:after { content: "\f005\f089"; }
        &.rating-20:after { content: "\f005\f005"; }
        &.rating-25:after { content: "\f005\f005\f089"; }
        &.rating-30:after { content: "\f005\f005\f005"; }
        &.rating-35:after { content: "\f005\f005\f005\f089"; }
        &.rating-40:after { content: "\f005\f005\f005\f005"; }
        &.rating-45:after { content: "\f005\f005\f005\f089"; }
        &.rating-50:after { content: "\f005\f005\f005\f005\f005"; }
    }
}

.star-rating-large
{
  @extend .star-rating;
  > i {
        font-size: 30px;
      }
}


.form_rating
{
  font-size: 30px;
  //color: $dark_gray;
}

i.icon-star
{
  color: orange;
}

i.icon-star-empty
{
  color: $dark_gray; 
}

.form_rating > i:hover
{
  cursor: hand;
  cursor: pointer;
}

i.star_enter
{
  color: orange;
}

i.star_leave
{
  color: $dark_gray;
}







//.form_rating > i:hover:before {
//   content: "<i class='icon-star'></i>";
//   position: absolute;
//}
