.white_font
{
  color: white;
}

.info
{
  font-size: 10px;
  text-shadow: white 1px 1px 1px;
  color: #666666;
}

.subtitle
{
  font-size: 10px;
  color: #999999;
}

.subtitle_large
{
  font-size: 15px;
  color: #999999;
}

.subtitle_large1
{
  font-size: 18px;
  color: #054B7D;
  font-weight: bold;
}

.large_font_size
{
  font-size: 18px;
  font-weight: bold;
}



body
{
  font-size: 13px;
}

.reputation
{
  font-weight: bold;
  color: #ffffff;
  background-color: #228b22;
}

.gray_bold
{
  font-weight: bold;
  color: #444444;
}

.stats, .bold
{
  font-weight: bold;
}

.specialties
{
  font-style: italic;
  font-weight: bold;
}

