$main_color: #007974;
$dark: #004E4B;
$contrast: #C75800;
$light_gray: #F5F5F5;
$dark_gray: #909090;


a:hover.no_underline, a:hover.no_underline_color 
{
  text-decoration: none;
}

a:link.no_underline, a:visited.no_underline
{
  color: black;
}

a:link.no_underline_color, a:visited.no_underline_color
{
  color: $main_color;
}

a:link 
{
  text-decoration:none;
  color: $main_color;//#2FBCB6;
}
a:visited 
{
  text-decoration:none;
  color: $main_color;//#2FBCB6;
}

a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}

.white_font
{
  color: white;
}

.nav_links
{

}

.info
{
  font-size: 10px;
  text-shadow: white 1px 1px 1px;
  color: #666666;
}

.subtitle_large_gray
{
  font-size: 15px;
  color: $dark_gray;
  margin-bottom: 10px;
}

.subtitle_large_gray a:link
{
  color: $dark_gray; 
}

.subtitle_large_gray a:visited
{
  color: $dark_gray; 
}


.subtitle_large
{
  font-size: 18px;
  font-weight: bold;
}

.subtitle_largest
{
  font-size: 24px;
  font-weight: bold;
}

.subtitle_large_color
{
  @extend .subtitle_large;
  color: $main_color; 
}


body
{
  font-size: 13px;
}

.reputation
{
  font-weight: bold;
  color: #ffffff;
  background-color: #228b22;
}

.stats, .bold
{
  font-weight: bold;
}

.italic
{
  font-style: italic;
}

.specialties
{
  font-style: italic;
  font-weight: bold;
}

.align_right
{
  text-align: right;
}

.site_title
{
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.caps
{
  text-transform: uppercase;
  color: $dark_gray;
  font-size: 15px;
}




