.photo
{
  background-color: green;
}

.user_label
{
  margin-left: 10px;
}

.user_title
{
  border-bottom: dotted 1px;
}

.profile_links
{
  text-align: right;
}

ul.f16
{
  padding: 0 !important;
  margin: 0;
  list-style-type: none;
  display: inline !important;
  vertical-align: bottom !important;
  width: 3px;
}

