// Voting Arrows

@mixin vote_base
{
  font-size: 30px;
  color: gray;
  &:hover
  {
    color: red;
    cursor: pointer;
  }
}

.vote
{
  @include vote_base;
}

.vote_small
{
  @include vote_base;
  font-size: 20px;
}

.selected_arrow
{
  color: red;
}
