$main_color: #007974;
$dark: #004E4B;
$light: #BFDDDC;
$lightest: #E3F0EF; 
$contrast: #C65800;
$light_gray: #F5F5F5;
$dark_gray: #909090;
$error_text: #961F1F;
$error_background: #E8CFCF; 
$notice_text: #006000; 
$notice_background: #AFD7AF;
$star_color: #FFAD00;

// Voting Arrows

@mixin vote_base
{
  font-size: 30px;
  &:hover
  {
    color: $star_color;
    cursor: pointer;
  }
}

.vote
{
  @include vote_base;
  color: gray;
}

.selected_arrow
{
  @include vote_base;
  color: $star_color !important;
}


