<ul class="nav nav-pills nav-stacked">
  <% li_class2 = @category.id == CategoryParent.find_by_name(parent_name).id ? 'active parent_links' : 'not_active' if @category %>
  <li class="<%= li_class2 %> parent_links"><%= link_to(category_title, category_forum_posts_path(CategoryParent.find_by_name(parent_name), order_by: @current_scope)) %></li>

  <% CategoryParent.find_by_name(parent_name).categories.each do |cat| %>
      <!--check which category is selected and make its li active-->
      <% li_class3 = @category.id == cat.id ? 'active' : 'not_active' if @category %>
      <li class="<%= li_class3 %>"><%= link_to(cat.name, category_forum_posts_path(cat, order_by: @current_scope)) %></li>
  <% end %>
</ul>





