<div class="row categories_div">
  <div class="span3">

    <%= render :partial => 'categories/category_list', locals: { :category_title => "Arabic Language",
                                                      :parent_name => "Arabic Language" } %>

  </div>

  <div class="span3">

    <%= render :partial => 'categories/category_list', locals: { :category_title => "Study Abroad (General)",
                                                      :parent_name => "Study Abroad" } %>

  </div>

  <div class="span3">

    <%= render :partial => 'categories/category_list', locals: { :category_title => "Study Abroad (Country)",
                                                      :parent_name => "Countries" } %>

  </div>

</div>
