<% provide :title, "Forum Categories" %>

<h3>Forum Categories</h3>

<div class="row categories_div">
  <div class="span3">
    <p>Arabic Language</p>

    <% CategoryParent.find_by_name("Arabic Language").categories.each do |cat| %>
        <%=  cat.name %><br />
    <% end %>

  </div>

  <div class="span3">
    <p>Study Abroad (General)</p>

    <% CategoryParent.find_by_name("Study Abroad").categories.each do |cat| %>
        <%=  cat.name %><br />
    <% end %>

  </div>

  <div class="span3">
    <p>Study Abroad (Country Specific)</p>

    <% CategoryParent.find_by_name("Countries").categories.each do |cat| %>
        <%=  cat.name %><br />
    <% end %>

  </div>

</div>
