<div style="color: #007974; font-size: 18px; font-weight: bold;" class="subtitle_large_color">Reset Your Password</div>
<hr>

<p><%= @resource.username.capitalize %>, someone has requested a link to change your password, and you can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

Thanks!<br /><br />

-The StudyArabic.com team
