<div style="color: #007974; font-size: 18px; font-weight: bold;" class="subtitle_large_color">Account Locked</div>
<hr>

<p><%= @resource.username.capitalize %>, your account has been locked due to an excessive amount of unsuccessful sign in attempts.</p>

<p>Click the link below to unlock your account:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>

Thanks!<br /><br />

-The StudyArabic.com team
