<span class="dropdown">
  <a class="dropdown-toggle bold no_underline_color" data-toggle="dropdown" href="#">
    <i class='icon-exclamation-sign icon-2x <%= check_active_icon(current_user, :new_notifications) %>'></i>
    <% if current_user.new_notifications.any? %>
      <span class='red_badge_tiny'><%= current_user.new_notifications.size %></span>
    <% end %>
	</a>
	<% if current_user.new_notifications.size > 0 %> 
		<ul class="dropdown-menu align_left wider notifications">
			<% current_user.new_notifications.each do |notification| %>
        <li id='<%= "notification_#{notification.id}" %>'>
        <%= link_to(notification_sentence(notification), send("#{notification.responsible_party_object_type.underscore}_link", notification.responsible_party_object, notification: notification.id)) %>
        </li>    
			<% end %>
		</ul>
	<% else %>
		<ul class="dropdown-menu align_left">
      <li>No new notifications</li> 
		</ul>
	<% end %>
</span>
